<!doctype html>

<head>
    <script src="https://unpkg.com/@shopify/app-bridge@1.10.1/umd/index.js"></script>
</head>

<body>
    <script type="text/javascript">
        var AppBridge = window['app-bridge'];

        const app = AppBridge.createApp({
            apiKey: "{{ api_key }}",
            shopOrigin: "{{ session['shop'] }}"
        });

        AppBridge.actions.TitleBar.create(app, { title: "Shopify Flask App" });
    </script>
    <h1>Your products:</h1>
    <ul>
        {% for product in products %}
        <li> {{ product.title }} </li>
        {% endfor %}
    </ul>
</body>